<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap-theme.css">
  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
  <style type="text/css">
    body {
      background-color: #CCC;
    }
  </style>
</head>
<body>
        <div class="navbar"><%-partial('navbar')%></div>
        <div class="main">
          <%- body %>
        </div>


</body>
</html>
