<div class="panel" style="box-shadow: 0 0 1em #111;position: relative">
  <div class="header">
    <div class="breadcrumb"></div>
  </div>
  <div class="inner" style="padding: 10px;">
      <img src="/img/1.jpg" width="70px" height="70px" style="border-radius: 50%;margin-left: 30px"/><br/>
      <span style="position: absolute;top:70px;right:157px;"></span><br/>
      <span>2年java开发经验，1年nodejs开发经验，参与过物联网、电子商务、oa办公等项目的核心</span>

  </div>
</div>
